.row-container-contact{
    /*width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;*/
    position: absolute;
    right: -0px;
    bottom: 112px;
}

.contact-button{
    background-color: #B6004B;
    height: 45px;
    width: 250px;
    margin-right: 150px;
    border: 0px;
    color: white;
    display: inherit;
}

.contact-button-icon{
    height: 35px;
    margin-left: 12px;
    margin-top: 2px;
}

.contact-button-text{
    line-height: 41px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans";
    margin-left: 10%;
}

.button-text-logged-in{
    margin-left: 0px;
}

.chat-info-container{
    position: absolute;
    bottom: -42px;
    right: 165px;
    width: 250px;
    height: 300px;
    z-index: 10;
}

.close-chat-info-container{
    height: 45px;
    background-color: #B6004B;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.enter-chat-button-container{
    height: 90px;
    background-color:  #B6004B;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.info-chat-container{
    height: 165px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.chat-title-column{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-icon-container{
    flex: 0.2;
    justify-content: center;
    align-items: center;
}

.chat-info-title{
    flex: 0.598;
    justify-content: flex-end;
    align-items: center;
}

.icon-chat-title{
    height: 35px;
    width: 35px;
}

.close-chat-info-icon{
    height: 20px;
    width: 20px;
}
.title-chat-container{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans";
}
.title-chat-separator{
    flex: 0.002;
    background-color: white;
    height: 35px;
    margin-top: 5px;
}
.enter-chat-button{
    background-color: white;
    color: #B6004B;
    font-weight: bold;
    font-size: 16px;
    height: 45px;
    border: 1px;
    width: 80%;
    font-family: "Open Sans";
}
.info-chat-text-container{
    width: 90%;
}
.subtitle-chat-info{
    margin: 0px;
    color: #666666
}
.chat-info-text{
    color: #333333;
    font-weight: bold;
}
.set-margin-cero{
    margin: 0px;
}

.info-chat-text-container p{
    font-size: 13px;
}

.margin-top-chat-text{
    margin-top: 10px;
}

.white-contrast .enter-chat-button{
    background-color: white;
    color: #B6004B;
}

.orange-contrast .row-container-contact{
    background-color: orange;
}

.orange-contrast .close-chat-info-container{
    background-color: white;
}

.orange-contrast .title-chat-container{
    color: black;
}

.orange-contrast .title-chat-separator{
    background-color: black;
}

.orange-contrast .enter-chat-button-container{
    background-color: #333333;
}

.orange-contrast .info-chat-container{
    background-color: #333333;
}

.orange-contrast .info-chat-container p{
    color: white;
}

.black-contrast .row-container-contact{
    background-color: black;
}

.black-contrast .enter-chat-button{
    background-color: white;
    color: #B6004B;
}

.black-contrast .info-chat-container{
    background-color: #333333;
}

.black-contrast .info-chat-container p{
    color: white;
}

.black-contrast .row-container-contact{
    background-color: black;
}

.contact-button-logged-in{
    margin-right: 0px;
    position: absolute;
    right: 170px;
}

.chat-info-container-logged-in{
    right: 170px;
    bottom: -38px;
}

.letter-great .contact-button-text{
    font-size: 32px;
}

.letter-median .contact-button-text{
    font-size: 24px;
}

.letter-great .contact-button, .letter-median .contact-button{
    width: 300px;
}

.letter-great .chat-info-container, .letter-median .chat-info-container{
    width: 350px;
    height: 580px;
}

.letter-median .chat-info-container{
    bottom: -141px;
}

.letter-great .enter-chat-button{
    font-size: 32px;
}

.letter-median .enter-chat-button{
    font-size: 24px;
}

.letter-great .enter-chat-button{
    width: 90%;
}

.letter-great .info-chat-text-container p{
    font-size: 32px;
}

.letter-median .info-chat-text-container p{
    font-size: 24px;
}

.letter-great .info-chat-container, .letter-median .info-chat-container{
    height: auto;
}

.info-chat-container p{
    font-family: "Open Sans";
}

@media (max-width : 1199px) {
    .contact-button-logged-in{
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        right: inherit;
    }

    .chat-info-container-logged-in{
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        right: inherit;
    }
}

@media (max-width : 1199px) {
    .contact-button-logged-in{
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        right: inherit;
    }

    .chat-info-container-logged-in{
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        right: inherit;
    }
}

@media (min-width : 991px) and (max-width : 1199px) {
    .contact-button-container{
        width: 100% !important;
        float: left !important;
        position: relative !important;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width : 1200px) and (max-width : 1600px) {
    .contact-button-logged-in{
        width: 50%;
    }
}

@media (min-width : 1200px) and (max-width : 1400px) {
    .button-text-logged-in{
        font-size: 12px;
    }

    .chat-icon-image-logged-in{
        height: 32px;
    }
}

@media (min-width : 1401px) and (max-width : 1600px) {
    .button-text-logged-in{
        font-size: 15px;
    }

    .chat-icon-image-logged-in{
        height: 32px;
    }
}

@media (max-width : 1199px) {
    .chat-info-container-logged-in{
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
    }
}